{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block monTitre %}Connexion{% endblock %}
{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            Le username ou le password ne sont pas bons.
        </div>
    {% endif %}
    <form action="{{path('login')}}" method="post">
        <div class="form-group">
            <label>Login : </label>
            <input type="text" required name="_username" class="form-control" value="{{lastUserName}}">
        </div>
        <div class="form-group">
            <label>Password : </label>
            <input type="password" required name="_password" class="form-control">
        </div>
        <input type="submit" class="btn btn-primary" value="Se connecter">
    </form>

{% endblock %}
