{% extends 'base.html.twig' %}

{% block title %}Modification de la voiture{% endblock %}
{% block monTitre %}Voiture {{ voiture.immatriculation }}{% endblock %}
{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ path('admin') }}" class="btn btn-primary">Retour</a>
    <input type="submit" value="Valider" class="btn btn-success">
{{ form_end(form) }}
{% endblock %}
