<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">

        {% block stylesheets %}

        {% endblock %}


    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{path('accueil')}}">LocaCar - Concession à pas cher</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="{{path('accueil')}}">Accueil</a>
                </li>
                {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')%}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('voitures')}}">Voitures</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN')%}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('admin')}}">Admin</a>
                    </li>
                {% endif %}
                {% if not app.user %}
                    <li class="nav-item">
                         <a class="nav-link" href="{{path('inscription')}}">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('login')}}">Connexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('logout')}}">Deconnexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container"></div>
        <h1 class="border border-dark rounded text-white m-2 p-2 text-center bg-info">{% block monTitre %}{% endblock %}</h1>
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    </body>
</html>
